<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<!-- enable transaction demarcation with annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
			destroy-method="close">
			<property name="driverClass" value="com.mysql.jdbc.Driver" />
			
			<property name="jdbcUrl"
				value="jdbc:mysql://localhost:3306/pker?useUnicode=true&amp;characterEncoding=UTF-8" />
			<property name="user" value="root" />
			<property name="password" value="1" />
			
			<property name="maxPoolSize" value="50"></property>
			<property name="minPoolSize" value="10"></property>
			<property name="initialPoolSize" value="10"></property>
			<property name="maxIdleTime" value="25000"></property>
			<property name="acquireIncrement" value="1"></property>
			<property name="acquireRetryAttempts" value="30"></property>
			<property name="acquireRetryDelay" value="1000"></property>
			<property name="testConnectionOnCheckin" value="true"></property>
			<property name="idleConnectionTestPeriod" value="18000"></property>
			<property name="checkoutTimeout" value="5000"></property>
			<property name="automaticTestTable" value="t_c3p0"></property>
		</bean>
		
		<!-- Hibernate -->
		<!-- define the SessionFactory -->
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="configLocation" value="classpath:hibernate.cfg.xml" />
<!-- 			<property name="hibernateProperties"> -->
<!-- 			    <props> -->
<!-- 			        web项目启动时是否更新表结构 -->
<!-- 			        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop> -->
<!-- 			        系统使用的数据库方言，也就是使用的数据库类型 -->
<!-- 			        <prop key="hibernate.dialect">${hibernate.dialect}</prop> -->
<!-- 			        是否打印Hibernate生成的SQL到控制台 -->
<!-- 			        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop> -->
<!-- 			        是否格式化打印出来的SQL -->
<!-- 			        <prop key="hibernate.format_sql">${hibernate.format_sql}</prop> -->
<!-- 			    </props> -->
<!-- 			</property> -->
			<!-- 自动扫描注解方式配置的hibernate类文件 -->
			<property name="hibernateProperties">
            	<props>
	                <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
	            </props>
	        </property>
			<property name="packagesToScan">
			    <list>
			        <value>edu.nk.pker.model.po</value>
			    </list>
			</property>
		</bean>
		<tx:annotation-driven transaction-manager="transactionManager"/>
		
		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory" />
			<property name="dataSource" ref="dataSource" />
		</bean>
		
	</beans>